
body
{
  width: 50%;
  margin: 0 auto;
  font-family:sans-serif;
}

.container
{
  width: 360px;
}
#inputfeild
{
  width: 200px;
  height: 25px;
  border: 2px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}
#addtodo
{
  width: 30px;
  height: 30px;
  border: 2px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}
.todo
{
  margin-top: 15px;
}

.p-style{
  margin: 0;
  cursor: pointer;
  font-size: 20px;
}
